<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Vote</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <p>
      Please detail your problem and then
      everybody has 4 weeks to propose solutions.
      Then there will be an election and the users
      can vote between the proposals.
      (It is always an option that no proposal is implemented)
    </p>
    <form class="creating_election" action="/election" method="post">
      <label for="title">Title</label>
      <input type="text" name="title">
      <label for="description">Description</label>
      <textarea name="description" rows="auto" cols="120">
      </textarea>
      <input type="submit" value="Issue">
    </form>
    {% include 'footer.html' %}
  </body>
</html>
