<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ election.title }}</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1>{{ election.title }}</h1>
    <p>{{ election.description|markdown }}</p>

    {% for proposal in proposals %}
    <h3>{{ proposal.title }}</h3>
    <p>{{ proposal.description|markdown }}</p>
    <a href="{{ repository_link }}/merge_requests/{{ proposal.id }}">Discuss it here</a>
    {% endfor %}
    <table>
      <tr>
        <td>Created on:</td>
        <td> {{ election.creation_date.strftime("%d.%m.%Y") }}</td>
      </tr>
      <tr>
        <td>Voting starts on:</td>
        <td>{{ election.openning_ballot_date.strftime("%d.%m.%Y") }}</td>
      </tr>
      <tr>
        <td>Voting ends on:</td>
        <td>{{ election.closing_date.strftime("%d.%m.%Y") }}</td>
      </tr>
    </table>
    <a href="{{ repository_link }}/issues/{{ election.id }}"> Make your own proposal </a>
    {% include 'footer.html' %}
  </body>
</html>
