<footer>
© Joris Gutjahr and Abbashan Karasahin 2020 <br>
This is Licensed under the <a href="https://gitlab.com/CSDUMMI/DemNet/-/blob/master/LICENSE">GPL-3 license</a>
<br>
Joris Gutjahr & Abbashan Karasahin <br>
c/o Schülerforschungszentrum Hamburg <br>
Grindelallee 117 <br>
20146 Hamburg <br>
</footer>
