<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>DemNet</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% for message in feed %}
    {{ message | format_message | safe }}
    {% endfor %}
    {% include 'footer.html' %}
  </body>
</html>
