<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Login to DemNet</title>
    {% include 'header.html' %}
  </head>
  <body>
    <form class="login_form" action="/login" method="post">
      {% if failed_already %}
      <p class="error"> Password or username wrong.</p>
      {% endif %}
      <label for="username">Username</label>
      <input type="text" name="username">
      <label for="password">Password</label>
      <input type="password" name="password">
      <input type="submit" value="Login">
    </form>
    {% include 'footer.html' %}
  </body>
</html>
