<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'header.html' %}
    <title>Profile of {{ user.name }}</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h3>{{ user | format_user | safe }}</h3>

    {% for message in user.messages %}
    <a class="message" href="/read/{{message.id}}">
      <h2> {{ message.title }} </h2>
    </a>
    {% endfor %}
    {% if session.username == user.name %}
    <a href="/logout">Log out</a>
    {% endif %}
    {% include 'footer.html' %}
  </body>
</html>
