<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <title>Call for a vote</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <p>
      Specify a problem.
      Then everybody can propose solutions to that problem
      and after 4 weeks, the solution, that won the vote will
      be accepted.
    </p>
    <form action="/vote/create" method="post">
      <label for="title">Title:</label>
      <input type="text" name="title">
      <label for="description">Description:</label>
      <textarea name="description" id="editor">
      </textarea>
      <input type="submit" value="Propose vote">
    </form>
    <script type="text/javascript">
      const simplemde = new SimpleMDE({ element           : document.getElementById("editor")
                                      , styleSelectedText : false
                                      })
    </script>
    {% include 'footer.html' %}
  </body>
</html>
