<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Propose for {{ election.title }}</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1>{{ election.title }}</h1>
    <p> {{ election.description|markdown}} </p>

    <form action="/vote/{{ election.id }}/propose" method="post">
      <select name="merge_request_iid">
        {% for merge_request in merge_requests %}
        <option value="{{ merge_request.iid }}"> {{ merge_request["title"] }}
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="Propose">
    </form>
    <a href="{{ election.link }}">Election on GitLab</a>
    {% include 'footer.html' %}
  </body>
</html>
