<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Write | DemNet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <form class="writing" action="/publish{{ '/' + response_to|string if response_to != None else '' }}" method="post">
      <label for="title">Title</label>
      <input type="text" name="title">
      <br>
      <label for="content"></label>
      <textarea name="content" id="editor"></textarea>
      <input type="submit" value="Publish">
    </form>
    <script type="text/javascript">
      const simplemde = new SimpleMDE({ element : document.getElementById("editor")
                                      , styleSelectedText : false
                                      })
    </script>
    {% include 'footer.html' %}
  </body>
</html>
