<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ message.title }}</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1>{{ message.title }}</h1>
    <p>{{message.content|markdown}} </p>
    <footer>
      {{ message.publishing_date.strftime("%d.%m.%Y") }}, {{ message.author | format_user(False) | safe }}
      in response to <a href="/read/{{ message.response_to.id }}">{{ message.response_to.title }}</a>
    </footer>

    {% if is_author and not message.responses.exists() %}
    <form action="/unpublish/{{ message.id }}" method="post">
      <input type="submit" value="Delete permanently">
    </form>
    {% endif %}

    <a href="/publish/{{ message.id }}">Respond to this message</a>

    {% for response in message.responses %}
    {{ response | format_message | safe }}
    {% endfor %}

    {% include 'footer.html' %}
  </body>
</html>
