<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Register new user</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <center>
      <form class="register_form" action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="id">ID:</label>
        <input type="text" name="id">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="Register">
      </form>
    </center>
    {% include 'footer.html' %}
  </body>
</html>
