<div class="user">
  {% if simple %}
  <a href="/profile/{{ user.name }}">@{{user.name}}</a>
  {% else %}
  <a href="/profile/{{ user.name }}">{{ user.first_name }} {{ user.last_name }} </a>
  {% endif %}
  {% if is_himself %}
  {% elif is_follower %}
  <form action="/unfollow/{{ user.name }}" method="post">
    <input type="submit" value="Unfollow">
  </form>
  {% else %}
  <form action="/follow/{{ user.name}}" method="post">
    <input type="submit" value="Follow">
  </form>
  {% endif %}
</div>
