<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Vote</title>
    {% include 'header.html' %}
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css"/>
  </head>
  <body>
    {% include 'navigation.html' %}

    {% if can_vote %}
      <h1>Voting ends on {{ voting_phase_end.strftime("%d.%m.%Y") }}</h1>
      <h3>There are {{ election.proposals.count() }} proposal(s)</h3>
      <script src="/static/scripts/Sortable.js"></script>
      <ul id="vote" class="list-group">
        {% for proposal in election.proposals %}
      	<li class="list-group-item" data-id="{{ proposal.id }}">
          {{ proposal.title }}
        </li>
        {% endfor %}
        <li class="list-group-item" data-id="NoneOfTheOtherOptions">None of the other options</li>
      </ul>

      <p> This <b> can't be undone</b>. If you click this button, you have voted and can't vote in this election again </p>

      <button onclick="vote_parser()" name="button">Vote</button>

      <form id="enter_vote" action="/vote" method="post">
      <input type="hidden" name="vote" value="">
      </form>

      <script>
          // Simple list
          vote_list   = document.getElementById("vote")
          Sortable.create(vote_list, {});

          function vote_parser() {
            vote                      = Array.from(document.getElementById("vote").childNodes)
            vote                      = vote.filter(elem => elem.nodeName == "LI")
            vote                      = vote.map(elem => elem.dataset.id)
            none_of_the_other_options = vote.indexOf("NoneOfTheOtherOptions")
            vote                      = vote.slice(0,none_of_the_other_options)
            submit(vote)
          }

          function submit(vote) {
            form                      = document.getElementById("enter_vote")
            form.vote.value           = JSON.stringify(vote)
            form.submit()
          }
      </script>
    {% elif can_propose %}
      <h1>Voting starts on {{ proposal_phase_end.strftime("%d.%m.%Y") }}</h1>
      <h3>There are currently {{ election.proposals.count() }} proposal(s)</h3>

      <form action="/vote/propose" method="post">
        <label for="merge_request_iid">Make a proposal</label>
        <select name="merge_request_iid">
          {% for merge_request in merge_requests %}
            <option value="{{ merge_request['iid'] }}">{{ merge_request["title"] }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Propose">
      </form>
    {% else %}
      <h1>There is currently no open election</h1>
    {% endif %}

    <div class="proposals">
      {% for proposal in election.proposals %}
        <details class="single_proposal">
          <summary><h3>{{ proposal.title }}</h3></summary>
          <p>{{ proposal.description|markdown }}</p>
          <details>
            <summary>View changes</summary>
            <pre class="patch">{{ proposal.patch }}</pre>
            <a href="{{ proposal.link }}">Further information</a>
          </details>
        </details>
      {% endfor %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>
