<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Votes</title>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1>Elections</h1>
    <a href="/vote/create">Have a problem? Propose a vote.</a>
    <h2> Open for voting </h2>
    {% for election in stage_2_elections %}
    <h3>{{ election.title }}</h3>
    <p>{{ election.description|markdown }}</p>
    <a href="/vote/{{ election.id }}">Vote</a>
    {% endfor %}
    <hr>
    <h2>Make proposal to a problem</h2>
    {% for election in stage_1_elections %}
    <h3>{{ election.title }}</h3>
    <p>
      {{election.description|markdown }}
    </p>
    <table>
      <tr>
        <td>Voting opens on</td><td>{{ election.openning_ballot_date.strftime("%d.%m.%Y") }}</td>
      </tr>
      <tr>
        <td>Voting closes on</td><td>{{ election.closing_date.strftime("%d.%m.%Y") }}</td>
      </tr>
    </table>
    <a href="/vote/{{ election.id }}/info">Information</a>
    <a href="/vote/{{ election.id }}/propose">Propose solution</a>
    {% endfor %}
    {% include 'footer.html' %}
  </body>
</html>
