.navigation {
  background-color: grey;
  top: 0;
  width: 100%;
  position: sticky;
  overflow: hidden;
  height: 10%;
}

.navigation a {
  color: white;
  text-decoration: none
}
.content {
  margin-top: 10%;
}

body {
  font-size: 1.5vw;
}
